body.index {
  background:#C0EAD0;
  text-align: center;
  color: #C0EAD0
  margin: 0px;
  width: 100%;
  padding-bottom: 5px;
  font-family:'Bitter', serif;
}

.header {
  text-align:center;
  padding-top:40px
}

.terms1{
    color: white;
    background:#A28497;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}


nav {
  font-family: 'Roboto Slab', serif;
  color: #392B58;
  background: #A28497;
  border-bottom: 0px solid white;
  width:100%;
  margin: 0px;
  display: inline-block;
  font-weight: bold;
}

ul {
  list-style: none;
  text-align:center;

}

li {
  display: inline-block
  width: 33%;
  float: left;
  margin: 5px auto;
}

a {
  color: #392B58;
  text-decoration: none;
  margin:5px ;
  text-align:center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

#menu_trigger {
  display: none;
}

nav a:hover, p a:hover{
  color: white;
  background: #A28497;
}

@media all and (max-width: 600px) {
nav ul {
flex-direction: column;
}
nav ul li {
text-align: center;
}

#menu_trigger {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  }

#menu_nav {
  display: none;
  }
}


h1 {
  font-family: 'Montserrat', serif;
  font-size: 44px
}

h2 {
  font-size: 18px
}

h1, h2 {
  font-weight: bold;
}

p{
font-family: 'Antic Slab', serif;
font-size: 16px
margin: 10px auto;
float: middle;
padding right: 25px;
}

img{
  margin: 10px; auto;
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  padding-bottom: 50px
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section{
  font-family: 'Antic Slab', serif;
  font-size: 24px
  margin: 10px; auto;
  float: middle;
  padding-top: 25px;

}


/*New page - help*/

body.help {
  background:#C0EAD0;
  text-align: center;
  color: #C0EAD0
  margin: 0px;
  width: 100%;
  padding-bottom: 5px;
  font-family:'Bitter', serif;
}

.header {
  text-align:center;
  padding-top:40px
}

nav {
  font-family: 'Roboto Slab', serif;
  color: #392B58;
  background: #A28497;
  border-bottom: 0px solid white;
  width:100%;
  margin: 0px;
  display: inline-block;
}

ul {
  list-style: none;
  text-align:center;

}

li {
  display: inline-block
  width: 33%;
  float: left;
  margin: 5px auto;
}

a {
  color: #392B58;
  text-decoration: none;
  margin:5px ;
  text-align:center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

#menu_trigger {
  display: none;
}

nav a:hover, p a:hover{
  color: white;
  background: #A28497;
}

#menu_trigger {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  }

  @media all and (max-width: 600px) {
  nav ul {
  flex-direction: column;
  }
  nav ul li {
  text-align: center;
  }

#menu_nav {
  display: none;
  }
}

h1 {
  font-family: "Montserrat"; serif
  font-size: 44px
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p{
font-family: Antic Slab;
font-size: 16px
margin: 10px auto;
float: middle;
padding right: 10px
padding top 10px;
padding bottom
}

img{
  margin: 10px; auto;
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  padding-bottom: 50px
}

section{

}

/*New page - data*/

body.data {
  background:#white;
  text-align: center;
  color: #C0EAD0
  margin: 0px;
  width: 100%;
  padding-bottom: 5px;
  font-family:'Bitter', serif;
}

.header {
  text-align:center;
  padding-top:40px
}

nav {
  font-family: 'Roboto Slab', serif;
  color: #392B58;
  background: #A28497;
  border-bottom: 0px solid white;
  width:100%;
  margin: 0px;
  display: inline-block;
}

ul {
  list-style: none;
  text-align:center;

}

li {
  display: inline-block
  width: 33%;
  float: left;
  margin: 5px auto;
}

a {
  color: #392B58;
  text-decoration: none;
  margin:5px ;
  text-align:center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

#menu_trigger {
  display: none;
}


@media all and (max-width: 600px) {
nav ul {
flex-direction: column;
}
nav ul li {
text-align: center;
}

nav a:hover, p a:hover{
  color: white;
  background: #A28497;
}

#menu_trigger {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  }

#menu_nav {
  display: none;
  }
}

h1 {
  font-family: "Montserrat"; serif
  font-size: 44px
}

h2 {
  font-family: "Montserrat"; serif
  font-size: 16px
  text-align: center
}


p{
font-family: Antic Slab;
font-size: 16px
margin: 10px auto;
float: middle;
padding right: 10px;
}

img{
  margin: 10px; auto;
  width: 50%;
  max-width: 500px;
  min-width: 250px;
  padding-bottom: 50px
}

section{
  background:#C0EAD0;
  text-align: center;
  color: #C0EAD0
  align: center
  padding-bottom: 5px;
}
